@font-face {
    font-family: 'museo_slab500';
    src: url('/font/Museo_Slab_500_2-webfont.eot');
    src: url('/font/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('/font/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('/font/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
html { 
  background: url(../images/rome.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'museo_slab500';
  color: #FFFFFF;
}
body{
  overflow: hidden;
}
a:link {text-decoration: none; color:#C40084;}      /* unvisited link */
a:visited {text-decoration: none; color:#C40084;}  /* visited link */
a:hover {text-decoration: none; color:#C40084;}  /* mouse over link */
a:active {text-decoration: none; color:#C40084;}  /* selected link */

.container{
	padding-top: 30px;
}
.description{
	font: 1.2em/1.5em "museo_slab500" red;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	color: #000;
}
.username{
    display: inline-block;
    width: 100%;
	margin-top: 50px;
	font-size: 90px;
	text-shadow: 3px 2px #A3A3A3;
}
.social-area{
	margin: 0 auto;
	text-align: center;
}
.social-area ul{
	list-style: none;
}
.social-area ul li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 90px;
}
.social-icon{
	color: #C40084;
	text-shadow: 3px 2px #A3A3A3;
}
.group-icon{
	display: inline-block;
}
.big-text {
	font-size: 30px;
}
/* Overriding twitter widget layout */
.timeline{
	background-color: rgba(255, 255, 255, 0.84);
}
